<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!-- form action="#" th:action="@{/getAllAfterAddByView}" th:object="${kund}" method="get" -->
<form action="#" th:action="@{/kund/getAllAfterAddByView}" th:object="${kund}" method="get">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="name">Address:</label><br>
    <input type="text" id="adress" name="adress" value=""><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>