<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="getAllAfterAddByView" method="get">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="John"><br>
    <label for="name">Address:</label><br>
    <input type="text" id="adress" name="name" value="Drottninggatan 1"><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>